@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Wittaya Super GIS Map</h1>
    <h2>รายชื่อทีมงาน WittayaSuperGisMap</h2>
    <h3>62050222 นายวิทยา วรจันทร์เพ็ญศรี</h3>
    <h3>62050243 นายหฤษฎ์ ชวลิตเบญจ</h3>
    <h3>62050250 นายอี้วเต๋อ หลิน</h3>
</div>
